* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

img {
  width: 100%;
}

a {
  text-decoration: none;
  color: inherit;
}

a:hover {
  color: blue;
}

.container {
  max-width: 700px;
  margin: 0 auto;
}

body, html, #root {
  height: 100%;
}

.app {
  height: 100%;
  display: flex;
  flex-direction: column;
}
/*Header*/
.header {
  background-color: #e3e3e3;
}

.header__container {
  padding: 10px 0;
  display: flex;
  justify-content: space-between;
}

.haeder__logo {
  font-size: 20px;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 3px;
}

.header__nav {
  display: flex;
  gap: 20px;
}

/*---------------------------*/

.main {
  flex-grow: 1;
}

.post {
  padding: 10px;
  display: grid;
  grid-template-columns: .9fr 1.1fr;
  gap: 20px;
}

.post + .post {
  margin-top: 10px;
}

.post__info {
  display: flex;
  gap: 5px;
  font-size: 12px;
}

.post__author {
  font-weight: bold;
}

.post__date {
  color: lightgray;
}

.post__summary {
  margin-top: 10px;
}


/*FOOTER*/
.footer {
  background-color: #e3e3e3;
  text-align: center;
}

.footer__container {
  padding: 10px 0;
}

/*----------------------*/

/*LOGIN*/
.login {
  height: 100%;
}
.login__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.form {
  max-width: 400px;
  width: 100%;
}

.form__input {
  width: 100%;
  display: block;
  margin-bottom: 10px;
  padding: 5px 7px;
}

.form__button {
  display: block;
  width: 100%;
  cursor: pointer;
  padding: 5px;
  background-color: #ddd;
}

/*Create post */
.create-post__container{
  padding: 10px 0;
}
.create-post input {
  margin-top: 5px;
  width: 100%;
}
.create-post button {
  width: 100%;
  margin-top: 10px;
  cursor: pointer;
}